// Define the SSID and password of your home access point here
#define	HOME_SSID	"HomeSSIDName"
#define	HOME_PASS	"123654789"

// Define SSID+password of another access point here
#define	REMOTE_SSID	"ThisMayBeAPublicAP"
#define	REMOTE_PASS	"passalready"

// The hostname as which this esp-link should be advertised on noip.com
#define	NOIP_HOSTNAME		"your-host.hopto.org"
// the AUTH is the base64 of user:password
#define	NOIP_AUTH		"the-base64-passcode"
